
.loginCon {
    justify-content: center;
    padding: 0;
    .row {
      padding:0;
    }  

}

.left-log  {
  padding: 0;
  margin: 0;
  
}

.right-log {
    height:50px;
    justify-content: space-around;
}

.vertical-logo img {
width:300px;
}
