
.card {
    display: block;
    min-width: 0;
    word-wrap: break-word;
    background-color: set-color('white');
    border: 0px solid transparent;
    border-radius: 3px;
    padding: rem-calc(10);

    @include breakpoint(xlarge) {
        padding: rem-calc(20);
    }

    .row.row {
        padding: 0;
    }

    .card-title {
        margin-bottom: 0.75rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }
}
