
.card {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: set-color('white');
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 3px;
    padding: 1.25rem
}

.card-title {
    margin-bottom: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
