.weather-card {
    min-height: 210px;

    @include breakpoint(medium) {
        min-height: 0;
    }

    .weather-front {
        display: none;
        transition: 0.1s ease-in-out;

        @include breakpoint(medium) {
            display: block;
        }

        &.active {
            display: block !important;
        }

        .row {
            align-items: center;
            padding: rem-calc(0 10)
        }

        .current-weather img {
            max-width: 90px;
            margin: 0 auto;
            display: block;
        }

        .weather-info {
            p {
                margin: 0;
            }

            .date {
                font-weight: 400;
            }

            .temp {
                font-size: rem-calc(40);
                font-weight: 400;
                margin-top: rem-calc(10);

                span {
                    font-size: rem-calc(14);
                    font-weight: 300;
                    margin: rem-calc(0 5);
                }
            }

            .status {
                text-transform: uppercase;
                font-size: rem-calc(20);
            }

            .location {
                font-size: rem-calc(12);
            }
        }
    }

    .weather-back {
        display: none;
        text-align: center;
        transition: 0.1s ease-in-out;

        &.active {
            display: block !important;
        }

        @include breakpoint(medium) {
            display: block;
        }

        .row {
            padding: rem-calc(0 10)
        }

        .weather-hist {
            .day,
            .date,
            .temp {
                font-size: rem-calc(14);
                white-space: nowrap;
            }

            .weather-image img {
                height: 50px;
                max-height: 50px;
            }
        }
    }
}